[submodule "themes/hugo-bootstrap"]
	path = themes/hugo-bootstrap
	url = git@github.com:platanus/hugo-bootstrap.git
[submodule "themes/hugo-theme-casper"]
	path = themes/hugo-theme-casper
	url = git@github.com:platanus/hugo-theme-casper.git
